<div class="card-trips">
  <% if trip.photo.nil? %>
    <div class="activity-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "maps.jpg", height: 300, width: 400, crop: :fill %>')">
      <% if trip.steps.empty? %>
        <% if policy(Step.new(trip: trip)).create? %> <%= link_to trip.title, new_trip_step_path(trip)%>
        <% end %>
      <% else %>
        <%= link_to trip.title, trip_steps_path(trip)%>
        <% if policy(trip).update?  %>
          <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'
          .html_safe, edit_trip_path(trip) %>
        <% end %>
        <% if policy(trip).destroy? %>
          <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'
          .html_safe, trip_path(trip),
          method: :delete, data: {confirm: "êtes-vous sûr ?"} %>
        <% end %>
      <% end %>
    </div>
    <div class="footer-trips">
      <h2><%= trip.title %></h2>
    </div>
  <% else %>
    <div class="activity-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path trip.photo, height: 300, width: 400, crop: :fill %>')";>
      <% if trip.steps.empty? %>
        <% if policy(Step.new(trip: trip)).create? %> <%= link_to trip.title, new_trip_step_path(trip)%>
        <% end %>
      <% else %>
        <%= link_to trip.title, trip_steps_path(trip)%>
        <% if policy(trip).update?  %>
          <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'
          .html_safe, edit_trip_path(trip) %>
        <% end %>
        <% if policy(trip).destroy? %>
          <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'
          .html_safe, trip_path(trip),
          method: :delete, data: {confirm: "êtes-vous sûr ?"} %>
        <% end %>
      <% end %>
    </div>
    <div class="footer-trips">
      <h2><%= trip.title %></h2>
    </div>
  <% end %>


</div>
