<ul>
  <h2>My trips </h2>
  <% @trips.each do |trip| %>
    <% if trip.steps.first.nil? %>
      <li><%= link_to trip.title, new_trip_step_path(trip)%></li>
    <% else %>
      <li><%= link_to trip.title, trip_steps_path(trip)%> <%= link_to 'edit', edit_trip_path(trip) %> <%= link_to 'Supprimer', trip_path(trip), method: :delete, data: {confirm: "êtes-vous sûr ?"} %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Ajouter un voyage", new_trip_path %>

