<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">

        <ul>
          <h2>My trips </h2>
          <% @trips.each do |trip| %>
            <% if trip.steps.empty? %>
              <li>
                <% if policy(Step.new(trip: trip)).create? %> <%= link_to trip.title, new_trip_step_path(trip)%>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to trip.title, trip_steps_path(trip)%>
                <% if policy(trip).update?  %>
                  <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'
                  .html_safe, edit_trip_path(trip) %>
                <% end %>
                <% if policy(trip).destroy? %>
                  <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'
                  .html_safe, trip_path(trip),
                  method: :delete, data: {confirm: "êtes-vous sûr ?"} %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <%= link_to "Ajouter un voyage", new_trip_path, class: 'btn btn-bleu' %>

      </div>
    </div>
  </div>
</div>
