<h2> Show du transport  </h2>

<ul>
  <li><%= @transport.departure_location %> </li>
  <li><%= @transport.departure_time %> </li>
  <li><%= @transport.departure_date %> </li>
  <li><%= @transport.arrival_date %> </li>
  <li><%= @transport.arrival_time %> </li>
  <li><%= @transport.arrival_location %> </li>
</ul>

 <p> <%= link_to 'edit', edit_transport_path(@transport) %> </p>
 <p> <%= link_to 'accomodation', accommodation_path(@transport.step.accommodation) %></p>
 <p> <%#= link_to "activities", step_activity_path(@transport.step.activity) %></p>

<%= link_to "TICKET", new_transport_ticket_path(@transport), class: "btn"%>
