<div class="scrollable full-height">
  <h2 class="page-title"> Votre prochain déplacement </h2>
  <ul>
    <li class="transport-date"><%= @transport.departure_date.strftime("%m/%d/%Y") %> </li>
  </ul>
  <div class="content-transport">
    <ul>
      <li class="transparency-title">From</li>
      <li class="main-info"><%= @transport.departure_time %></li>
      <li class="secondary-info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @transport.departure_location %></li>
    </ul>
  <!-- <div id="trait-destination"></div> -->
    <ul>
      <li class="transparency-title" >To</li>
      <li class="main-info"><%= @transport.arrival_time %></li>
      <li class="secondary-info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @transport.arrival_location %></li>
    </ul>
  </div>

  <% if @transport.ticket.nil? %>
    <%= link_to 'Mon billet', new_transport_ticket_path(@transport), class: 'btn btn-bleu' %>
  <% else %>
    <%= link_to 'Mon billet', transport_ticket_path(@transport, @ticket), class: 'btn btn-bleu' %>
  <% end %>

  <% if policy(@transport).update? %>
    <%= link_to 'Modifier', edit_transport_path(@transport), class: 'btn btn-bleu' %>
  <% end %>
  <% if policy(@transport).update? %>
    <%= link_to 'Supprimer', transport_path(@transport), method: :delete, class: 'btn btn-bleu' %>
  <% end %>

</div>


<%= render 'navbutton-transport', step: @step %>
