<div class="scrollable full-height">
  <div class="transport-title"> Votre prochain déplacement </div>
  <ul>
    <li class="transport-date"><%= @transport.departure_date.strftime("%m/%d") %> </li>
  </ul>
  <div class="content-transport">
    <ul class="content-transport-left">
      <li class="transparency-title">From</li>

         <li class="main-info"><%= @transport.departure_time.nil? ? "N/A" : @transport.departure_time  %></li>

      <li class="secondary-info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @transport.departure_location %></li>
    </ul>
  <!-- <div id="trait-destination"></div> -->
    <ul class="content-transport-right">
      <li class="transparency-title" >To</li>
      <li class="main-info"><%= @transport.arrival_time %></li>
      <li class="secondary-info"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @transport.arrival_location %></li>
    </ul>
  </div>

  <div class="center-btn">
    <% if @transport.ticket.nil? %>
      <%= link_to 'MON BILLET', new_transport_ticket_path(@transport), class: 'btn btn-bleu-so' %>
    <% else %>
      <%= link_to 'MON BILLET', transport_ticket_path(@transport, @ticket), class: 'btn btn-bleu-so' %>
    <% end %>
  </div>

  <div class="btn-center-transport">
    <% if policy(@transport).update? %>
    <div class="circle-icon">
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_transport_path(@transport) %>
    </div>
    <% end %>
    <% if policy(@transport).destroy? %>
      <div class="circle-icon">
        <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, transport_path(@transport), method: :delete %>
      </div>
    <% end %>
  </div>
</div>


<%= render 'navbutton-transport', step: @step %>
