<div class="scrollable full-height">
  <h2 class="page-title"> Votre prochain déplacement </h2>

  <ul>
    <li class="transport-date"><%= @transport.departure_date %> </li>
    <li class="transparency-title">From</li>
    <li class="main-info"><%= @transport.departure_location %> </li>
    <li class="secondary-info" ><%= @transport.departure_time %> </li>
  </ul>
<div id="trait-destination"></div>
  <ul>
    <li class="transparency-title" >To</li>
    <li class="main-info"><%= @transport.arrival_location %> </li>
    <li class="secondary-info"><%= @transport.arrival_time %> </li>
  </ul>


  <%= link_to (@transport.ticket.nil? ? new_transport_ticket_path(@transport) : transport_ticket_path(@transport, @ticket)) do %>
    </h2> TICKET </h2>
  <% end %>

  <% if policy(@transport).update? %>
    <%= link_to 'Modifier', edit_transport_path(@transport), class: 'btn btn-bleu' %>
  <% end %>
  <% if policy(@transport).update %>
    <%= link_to 'Supprimer', transport_path(@transport), method: :delete, class: 'btn btn-bleu' %>
  <% end %>

  <!-- <%#= link_to "TICKET", new_transport_ticket_path(@transport), class: "btn"%> -->

</div>


<%= render 'navbutton-transport', step: @step %>
