Show/transport

<ul>
  <li><%= @transport.departure_location %> </li>
  <li><%= @transport.departure_time %> </li>
  <li><%= @transport.departure_date %> </li>
  <li><%= @transport.arrival_date %> </li>
  <li><%= @transport.arrival_time %> </li>
  <li><%= @transport.arrival_location %> </li>
</ul>


 <p> <%= link_to 'edit', edit_transport_path(@transport) %> </p>
