<div class="scrollable full-height">
  <% if current_user %>
    <%= simple_form_for @accommodation do |f| %>
      <%= f.input :category, as: :radio_buttons,
      collection: ['Hôtel', 'Airbnb', 'Auberge de jeunesse', "Chez l'habitant", 'Autre'], wrapper: :vertical_radio_and_checkboxes %>
      <%= f.input :name, placeholder: "Airbnb rue Oberkampf" %>
      <%= f.input :location, placeholder: "120 rue Oberkampf" %>
      <%= f.input :arrival_date, placeholder: "2017-12-5", as: :string, input_html: {class: "datepicker"}%>
      <%= f.input :departure_date, placeholder: "2017-12-4", as: :string, input_html: {class: "datepicker"}%>
      <%= f.input :url, placeholder: "http://www.airbnb/monnumerodereservation" %>
      <%= f.submit "Add"%>
    <% end %>
  <% end %>
  <%= link_to 'Supprimer', accommodation_path(@accommodation), method: :delete, class: 'btn btn-bleu' %>
</div>


<%= render 'navbutton-accommodation', step: @step %>
