show de l'accommodation

<ul>
  <li><%= @accommodation.category %></li>
  <li><%= @accommodation.name %></li>
  <li><%= @accommodation.location %></li>
  <li><%= @accommodation.arrival_date %></li>
  <li><%= @accommodation.departure_date %></li>
  <li><%= @accommodation.url %></li>
  <li><%= image_tag @accommodation.photo %></li>
</ul>

<%= link_to 'Modifier', edit_accommodation_path(@accommodation) %>
