<div class="scrollable full-height">
  <% if @accommodation.photo.nil? %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url('<%= image_path accommodation.jpg, height: 300, width: 400, crop: :fill %>');"></div>
  <% elsif @accommodation.photo == "0" %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url('<%= image_path accommodation.jpg, height: 300, width: 400, crop: :fill %>');"></div>
  <% else %>
    <div class="banner-accommodation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%), url('<%= image_path @accommodation.photo, height: 300, width: 400, crop: :fill %>');"></div>
  <% end %>

  <div class="banner-content">
    <div class="date-accommodation">
      <%= @accommodation.arrival_date.strftime("%b %d") %><i class="fa fa-arrow-right"></i><%= @accommodation.departure_date.strftime("%b %d") %>
    </div>
    <h2><%= @accommodation.name.titleize %></h2>
    <h3> <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @accommodation.location.capitalize %> </h3>
    <div class="description-accomodation">
      <h5> <%= @accommodation.description %> </h5>
    </div>
  </div>

  <div class="footer-accomodation">
    <div class="footer-icons-accomodation">
      <% if policy(@accommodation).update? %>
      <div class="circle-icon">
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_accommodation_path(@accommodation) %>
      </div>
      <% end %>
      <% if policy(@accommodation).destroy? %>
        <div class="circle-icon">
          <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, accommodation_path(@accommodation), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
  <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@accommodation.location}&key=AIzaSyDcpKX_kCi-4AcvJt7FiX8D9b-Nz3lMuOk" %>
</div>


<%= render 'navbutton-accommodation', step: @step %>

