<div class="navbar-wagon">
  <!-- Logo -->
  <% if user_signed_in? %>
    <% if current_user.facebook_picture_url %>
      <% avatar_url = current_user.facebook_picture_url %>
    <% elsif current_user.photo.present? %>
      <% avatar_url = cl_image_path(current_user.photo) %>
    <% else %>
      <% avatar_url = "http://res.cloudinary.com/alumni/image/upload/v1513179673/blank-profile-picture-973460_640_y863w7.png" %>
    <% end %>
    <%= link_to profil_path(current_user.id) do %>
      <%= image_tag avatar_url, class: "avatar" %>
      <% end %>
  <% end %>

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50, id: 'logo-navbar' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-md hidden-lg">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown" id="dropdown-navbar">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>


