<div class="container">
  <div class="profile">
    <div class="front">
      <div class="row">
        <div class="profile_banner">
          <div class="profile_name">
            <h3><%= @profil.first_name %> <%= @profil.last_name %></h3>
          </div>
        </div>
        <div class="profile_photo"> <% avatar_url = @profil.facebook_picture_url || "http://placehold.it/30x30" %> <%= image_tag avatar_url %>
        </div>
      </div>
      <div class="boxes">
        <a id="trip_btn" class="box_trip"> Voyages </a>
        <a id="friend-btn" class="box_info"> Amis </a>
      </div>
      <div class="row">
        <div class="information">
          <div id="trip" class="card">
            <div class="card-body">

              <ul>
                <% @trips.each do |trip|%>
                  <li style="list-style-type: none";><%= link_to trip.title, trip_steps_path(trip)%></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div id="amis" class="card">
            <div class="card-body">

              <ul>
                <li style="list-style-type: none"> Sonia</li>
                <li style="list-style-type: none"> Alix</li>
                <li style="list-style-type: none"> Mathieu</li>
                <li style="list-style-type: none"> Edouard</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="header-container">
    <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
    <div class="header">
      <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="header-icon">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
      </svg>

      <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg" class="u-float-right header-icon">
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <h1 class="main-heading"><%= @profil.first_name %> <%= @profil.last_name %></h1>
    </div>
  </div>

  <div class="overlay-header"></div>

  <div class="body">
     <div class="profile_photo"> <% avatar_url  %> <%= image_tag avatar_url %>
      </div>
    <div class="body-action-button u-flex-center">
      <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    <div class="u-clearfix"></div>
    <div class="body-info">
      <p>
        Hugh Michael Jackman is an Australian actor, singer and producer. Jackman has won international recognition for his roles in variety of film genres.
      </p>
      <p>
      In Broadway theatre, Jackman won a Tony Award for his role in The Boy from Oz. A four-time host of the Tony Awards themselves, he won an Emmy Award for one of these appearances. Jackman also hosted the 81st Academy Awards on 22 February 2009.
      </p>
    </div>
    <div class="body-more">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</div> -->

