<div>
  <h1>Vos étapes</h1>

  <% @steps.each do |step| %>
      <%= render 'card-steps', step: step %>
  <% end %>
  <div class="center-btn addtrip">
    <div class="btn btn-bleu-so"> <%= link_to "Ajouter une étape", new_trip_step_path(@trip) %>
    </div>
  </div>
</div>

<div class="share-form">
 <p> Partager ce voyage avec des amis :</p>
  <% if current_user %>
    <%= simple_form_for [@trip, @invitation] do |f| %>
      <%= f.input :email, label: false, placeholder: "emilie.dupont@gmail.com" %>
      <%= button_tag do %>
        <i class="fa fa-user-plus"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
