
<div>
  <h3>Vos étapes :</h3>

  <% @steps.each do |step| %>
      <%= render 'card-steps', step: step %>
  <% end %>

  <div class="btn btn-bleu"> <%= link_to "Ajouter une étape", new_trip_step_path(@trip) %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
       <p> Partager ce voyage avec des amis :</p>
        <% if current_user %>
          <%= simple_form_for [@trip, @invitation] do |f| %>
            <%= f.input :email, placeholder: "emilie.dupont@gmail.com" %>
            <%= f.button :submit, "Inviter", class: "btn-bleu" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
