<% if activity.photo.nil? %>

  <div class="activity-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "activity.jpg", height: 300, width: 400, crop: :fill %>')">
    <div class="card-description">
      <h2><%= activity.title %></h2>
      <%= link_to '', activity.url, class:'card-link' %>
    </div>
    <div>
      <%= link_to edit_activity_path(activity) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

<% elsif activity.photo == "0" %>

  <div class="activity-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "activity.jpg", height: 300, width: 400, crop: :fill %>')">
    <div class="card-description">
      <h2><%= activity.title %></h2>
      <%= link_to '', activity.url, class:'card-link' %>
    </div>
    <div>
      <%= link_to edit_activity_path(activity) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="activity-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path activity.photo, height: 300, width: 400, crop: :fill %>')">
    <div class="card-description">
      <h2><%= activity.title %></h2>
      <%= link_to '', activity.url, class:'card-link' %>
    </div>
    <div>
      <%= link_to edit_activity_path(activity) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

<% end %>
