<div class="footer">

    <div class="navbtn" >
      <% if @transport %>
        <%= link_to transport_path(@step.transport) do %>
          <%= image_tag 'ticket_icon.png', class: :navbtn, id: :ticket %>
        <% end %>
      <% else %>
        <%= link_to new_step_transport_path(@step) do %>
          <%= image_tag 'ticket_icon.png', class: :navbtn, id: :ticket %>
        <% end %>
      <% end %>
    </div>

    <div class="navbtn">
      <% if @accommodation %>
        <%= link_to accommodation_path(@step.accommodation) do %>
          <%= image_tag 'accommodation_icon.png', class: :navbtn, id: :accomodation %>
        <% end %>
      <% else %>
        <%= link_to new_step_accommodation_path(@step) do %>
          <%= image_tag 'accommodation_icon.png', class: :navbtn, id: :accomodation %>
        <% end %>
      <% end %>
    </div>

    <div class="navbtn">
          <%= image_tag 'activity_icon_grey.png', class: :navbtn, id: :activity %>
    </div>

    <div class="navbtn">
      <%= link_to trip_steps_path(@step.trip) do %>
        <%= image_tag 'index_steps.png', class: :navbtn, id: :index_steps %>
      <% end %>
    </div>

</div>
